<% if session[:medic_id] %>
    <h1>  <div id="error_expanation">Seems like you are already a Medic & Signed In! </h1>
<% elsif session[:donor_id] %>
    <h1>  <div id="error_expanation">Seems like you are already a Donor & Signed In! </h1>
<% else %>
<br>
<h1>LOGIN</h1>

  <%= form_tag medicsessions_path do %>    
    <div class="field">

        <%= text_field_tag :email, params[:email]  , :placeholder => "Email Adrress"%>
    </div>
    <div class="field">
    <%= password_field_tag :password, params[:password] ,:placeholder => "Password" %>
    </div>
  	<%= link_to "Forgotten Password?", new_password_reset_path %>
    <br>
       <br>
    <div class="actions"><%= submit_tag "Log in" %></div>
    <h2> Not Certified as a Medic?</h2>
    <h2> Request your Organization Admin to register you on LifeSpan+ </h2>
  <% end %>
<% end %>  