<%= semantic_form_for(@medic) do |f| %>
  <% if @medic.errors.any? %>
  <% @medic.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@medic.errors.count, "error") %> prohibited this medic from being saved:</h2>

      <ul>
      <% @medic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_donor && current_donor.admin == true || current_medic && current_medic.admin == false %>

  <div class="field">
    First Name: <%= f.text_field :first_name %>
  </div>
  <div class="field">
    Last Name: <%= f.text_field :last_name %>
  </div>
  <div class="field">
  Date of Birth: <%= f.date_select :date_of_birth, :order => [:day, :month, :year], :include_blank => true, :default => nil, :start_year => 123.years.ago.year, :end_year => Date.today.year-16 %>
  </div>
   <div class="field">
    Phone: <%= f.text_field :phone %>
  </div>
<% end %>

 
  <div class="field">
   Organization:  <%= collection_select(:medic, :organization_id, Organization.all, :id, :name) %>
  </div>
  
<% if current_donor && current_donor.admin == true %>
  <div class="field">
    Admin: <%= f.check_box :admin %>
  </div>
<% end %>

  <div class="field">
    Position: <%= f.select(:position, Medic::Position) %>
  </div>
  <div class="field">
    Email: <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.input :password, :as => :pwdcalc %>
  </div>
  <div class="field">
    <%= f.input :password_confirmation, :as => :pwdcalc %>
  </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
