<h1>Available Medic Admins and Staff</h1>
</br>
<% if current_donor && current_donor.admin == true %>
  <ul>
    <% @group.keys.sort.each do |hospital_name| -%>
      </br>
      </br>
      <li>
        <h1><%= hospital_name %></h1>
        <ul>
        </br>  
          <table class="table table-bordered">
            <% @group[hospital_name].each do |medic| -%>
              <% if medic.admin == true %> 
                <tr>
                  <th><h3>Photo </h3></th>
                  <th><h5>Hospital Admin</h5></th>
                  <th><h5></h5></th>
                  <th><h5></h5></th>
                </tr>
                <tr>
                  <td class="donor_img"> <%= image_tag medic.photo_url %></td>
                  <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                    <td><h3><%= medic.proper_name %></h3></td>
                  <% else %>
                    <td> <h3>Not Entered </h3></td>  
                  <% end %>
                  <% if can? :show, medic %>
                    <td><h3><%= link_to 'Show', medic %></h3></td>
                  <% end %>  
                  <% if can? :update, medic %>
                    <td><h3><%= link_to 'Edit', edit_medic_path(medic) %></h3></td>
                  <% end %>
                  <% if can? :destroy, medic %>
                    <td><h3><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></h3></td>
                  <% end %> 
                </tr>   
              <% else %>
                <tr>
                  <th><h3>Photo</h3></th>
                  <th><h5>Doctors</h5></th>
                </tr>
                <tr>
                  <td class="donor_img"> <%= image_tag medic.photo_url %></td>
                  <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                    <td><h3><%= medic.proper_name %></h3></td>
                  <% else %>
                    <td> <h3>Unnamed </h3></td>  
                  <% end %>
                  <% if can? :show, medic %>
                    <td><h3><%= link_to 'Show', medic %></h3></td>
                  <% end %>  
                  <% if can? :update, medic %>
                    <td><h3><%= link_to 'Edit', edit_medic_path(medic) %></h3></td>
                  <% end %>
                  <% if can? :destroy, medic %>
                    <td><h3><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></h3></td>
                  <% end %> 
                </tr>      
              <% end %>   
            <% end %> 
          </table>
        </ul>
      </li>       
    <% end %>
  </ul>
<% else %>
 <ul>
    <% @group.keys.sort.each do |hospital_name| -%>
      </br>
      </br>
      <% if current_medic.organization.name == hospital_name %>
        <li>
          <h1><%= hospital_name %></h1>
          <ul>
          </br>  
            <table>
              <% @group[hospital_name].each do |medic| -%>
                <% if medic.admin == false %> 
                    <tr>
                  <th>Photo</th>    
                  <th><h2>Doctors</h2></th>
                  <th><h2>Position</h2></th>
                  </tr>
                  <tr>
                    <td class="donor_img"> <%= image_tag medic.photo_url %></td>
                    <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                      <td><%= medic.proper_name %></td>
                    <% else %>
                      <td> Unnamed </td>  
                    <% end %>
                    <% if medic.position.blank? == false %>
                      <td><%= medic.position %></td>
                    <% else %>
                      <td> Unassigned </td>  
                    <% end %>  
                    <% if can? :show, medic %>
                      <td><%= link_to 'Show', medic %></td>
                    <% end %>  
                    <% if can? :update, medic %>
                      <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
                    <% end %>
                    <% if can? :destroy, medic %>
                      <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %> 
                  </tr>      
                <% end %>   
              <% end %> 
            </table>
          </ul>
        </li>
      <% end %>         
    <% end %>
  </ul>
<% end %>   