<br />


<table>
   <p>
      <h1>Administrators</h1>
    </p> 
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Organization</th>
    <th></th>
    <th></th>
  </tr>


<% @medics.each do |medic| %>
  <% if medic.admin == true %> 
  <tr>
    
    <% if medic.first_name && medic.last_name != "" %>
    <td><%= medic.proper_name %></td>
    <% end %> 

    <td><%= medic.position %></td>
    <td><%= medic.organization.name %></td>
    <% if can? :show, medic %>
      <td><%= link_to 'Show', medic %></td>
    <% end %>   
    <% if can? :update, medic %>
      <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
    <% end %>
    <% if can? :destroy, medic %>
      <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> 
  </tr>
<% end %>
<% end %>

</table>
<br />
<%= link_to 'Create New Medical Admin', new_medic_path %>
<br />
<br />
<br />

<table>
   <p>
      <h1>Hospital Staff</h1>
    </p> 
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Organization</th>
    <th></th>
    <th></th>
  </tr>


<% @medics.each do |medic| %>
  <% if medic.admin == false %> 
  <tr>
    
    <% if medic.first_name && medic.last_name != "" %>
    <td><%= medic.proper_name %></td>
    <% end %> 

    <td><%= medic.position %></td>
    <td><%= medic.organization.name %></td>
    <td><%= link_to 'Show', medic %></td>
    <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
    <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>

</table>



