<h1>Medic Accounts</h1>
<br />
<% if current_donor && current_donor.admin == true %>
  <ul>
    <% @group.keys.sort.each do |hospital_name| -%>
      </br>
      </br>
      <li>
        <h2><%= hospital_name %></h2>
        <ul>
        </br>  
          <table>
            <% @group[hospital_name].each do |medic| -%>
              <% if medic.admin == true %> 
                <tr>
                  <th>Hospital Admin</th>
                </tr>
                <tr>
                  <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                    <td><%= medic.proper_name %></td>
                  <% else %>
                    <td> Not Entered </td>  
                  <% end %>
                  <% if can? :show, medic %>
                    <td><%= link_to 'Show', medic %></td>
                  <% end %>  
                  <% if can? :update, medic %>
                    <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
                  <% end %>
                  <% if can? :destroy, medic %>
                    <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %> 
                </tr>   
              <% else %>
                <tr>
                  <th>Doctors</th>
                  <th>Position</th>
                </tr>
                <tr>
                  <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                    <td><%= medic.proper_name %></td>
                  <% else %>
                    <td> Unnamed </td>  
                  <% end %>
                  <% if medic.position.blank? == false %>
                    <td><%= medic.position %></td>
                  <% else %>
                    <td> Unassigned </td>  
                  <% end %>  
                  <% if can? :show, medic %>
                    <td><%= link_to 'Show', medic %></td>
                  <% end %>  
                  <% if can? :update, medic %>
                    <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
                  <% end %>
                  <% if can? :destroy, medic %>
                    <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %> 
                </tr>      
              <% end %>   
            <% end %> 
          </table>
        </ul>
      </li>       
    <% end %>
  </ul>
<% else %>
 <ul>
    <% @group.keys.sort.each do |hospital_name| -%>
      </br>
      </br>
      <% if current_medic.organization.name == hospital_name %>
        <li>
          <h2><%= hospital_name %></h2>
          <ul>
          </br>  
            <table>
              <% @group[hospital_name].each do |medic| -%>
                <% if medic.admin == false %> 
                    <tr>
                    <th>Doctors</th>
                    <th>Position</th>
                  </tr>
                  <tr>
                    <% if medic.first_name.blank? == false && medic.last_name.blank? == false%>
                      <td><%= medic.proper_name %></td>
                    <% else %>
                      <td> Unnamed </td>  
                    <% end %>
                    <% if medic.position.blank? == false %>
                      <td><%= medic.position %></td>
                    <% else %>
                      <td> Unassigned </td>  
                    <% end %>  
                    <% if can? :show, medic %>
                      <td><%= link_to 'Show', medic %></td>
                    <% end %>  
                    <% if can? :update, medic %>
                      <td><%= link_to 'Edit', edit_medic_path(medic) %></td>
                    <% end %>
                    <% if can? :destroy, medic %>
                      <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %> 
                  </tr>      
                <% end %>   
              <% end %> 
            </table>
          </ul>
        </li>
      <% end %>         
    <% end %>
  </ul>
<% end %>   