<p>
  <% unless @medic.photo_url.nil? %>
      <p class="donor_img"><%= image_tag @medic.photo_url %></p>
  <% end %>
</p>

<% if @medic.first_name.blank? == false && @medic.last_name.blank? == false%>
<p>
  <b>Name:</b>
  <%= @medic.proper_name %>
</p>
<% end %> 

<% if @medic.date_of_birth.blank? == false%>
<p>
  <b>Date of birth:</b>
  <%= @medic.date_of_birth %>
</p>

<p>
 <b>Age:</b>
  <%= @medic.age %>
</p>
<% end %> 

<% if @medic.position.blank? == false%>
<p>
  <b>Position:</b>
  <%= @medic.position %>
</p>
<% end %> 

<p>
  <b>Organization:</b>
  <%= @medic.organization.name %>
</p>

<% if @medic.admin == true%>
<p>
  <b>Admin:</b>
  <%= @medic.admin %>
</p>
<% end %>
</br>
<p>
  <b>Email:
   <%= h auto_link(simple_format(@medic.email)) %>
 </b>
</p>

<%= link_to 'Back', root_path, class:"btn btn-large btn-primary" %> 
  <% if can? :update, @medic %>
    <%= link_to 'Edit Profile ', edit_medic_path(@medic), class:"btn btn-large btn-primary" %>
  <% end %>
  <% if can? :destroy, @medic %>
    <%= link_to 'Delete Profile', @medic, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-large btn-primary" %>
  <% end %>
