<p id="notice"><%= notice %></p>

<% if @medic.first_name && @medic.last_name != "" %>
<p>
  <b>Name:</b>
  <%= @medic.proper_name %>
</p>
<% end %> 

<% if @medic.date_of_birth != "" %>
<p>
  <b>Date of birth:</b>
  <%= @donor.date_of_birth %>
</p>

<p>
 <b>Age:</b>
  <%= @medic.age %>
</p>
<% end %> 

<p>
  <b>Position:</b>
  <%= @medic.position %>
</p>

<p>
  <b>Organization:</b>
  <%= @medic.organization.name %>
</p>

<p>
  <b>Admin:</b>
  <%= @medic.admin %>
</p>

<p>
  <b>Email:</b>
  <%= @medic.email %>
</p>


<%= link_to 'Edit Profile', edit_medic_path(@medic) %> |
<%= link_to 'Back', root_path %> |
<%= link_to 'Delete Profile', @medic, method: :delete, data: { confirm: 'Are you sure?' } %></td>

