<%= form_for @donor, :html => { :multipart => true } do |f| %>
<%= semantic_form_for(@donor) do |f| %>
  <% if @donor.errors.any? %>
  <% @donor.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    First Name: <%= f.text_field :first_name %>
    <div>
  <div class="field">
    Last Name: <%= f.text_field :last_name %>
  </div>
  <div class="field">
    Date of Birth: <%= f.date_select :date_of_birth, :order => [:day, :month, :year], :include_blank => true, :default => nil, :start_year => 123.years.ago.year, :end_year => Date.today.year-16 %>
  </div>
  <div class="field">
    Phone Number: <%= f.text_field :phone %>
  </div>
  <div class="field">
    Region: <%= f.select(:region, Donor::Region_List) %>
  </div>

  <div class="field">
    Blood Type :<%= f.select(:blood_type, Donor::Blood_List) %>
  </div>

  <div class="field">
     Photo: <%= f.file_field :photo %>
  </div>
  <div class="field">
    Email Address: <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.input :password, :as => :pwdcalc %>
  </div>
  <div class="field">
    <%= f.input :password_confirmation, :as => :pwdcalc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>