<%= form_for @donor, :html => { :multipart => true } do |f| %>
<%= semantic_form_for(@donor) do |f| %>



  <% if @donor.errors.any? %>
  <% @donor.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.select(:region, Donor::Region_List) %>
  </div>


  
<% if current_donor && current_donor.admin == true %>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :blood_type %><br />
    <%= f.select(:blood_type, Donor::Blood_List) %>
  </div>

  <div class="field">
     <%= f.label :photo %><br />
     <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.input :password, :as => :pwdcalc %>
  </div>
  <div class="field">
    <%= f.input :password_confirmation, :as => :pwdcalc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>