<%= form_for @donor, :html => { :multipart => true } do |f| %>
<%= semantic_form_for(@donor) do |f| %>
  <% if @donor.errors.any? %>
  <% @donor.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>
      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"> 
    <%= f.text_field :first_name, :placeholder => "First Name" %>
  <div>
  
  <div class="field">
    <%= f.text_field :last_name, :placeholder => "Last Name" %>
  </div>
  
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Phone Number"  %>
  </div>
  
  <div class="field">
    Gender: <%= f.select :gender, options_for_select([['Male'], ['Female'], ['Other']]), :include_blank => true, :default => nil %>
  </div>
  
  <div class="field">
    Weight: <%= f.select :weight, (50..636), :include_blank => true, :default => nil %>
  </div>

      <div class="field">
  Date of Birth: 
  <br>
    <%= f.date_select :date_of_birth , :order => [:day, :month, :year], :include_blank => true, :default => nil, :start_year => 123.years.ago.year, :end_year => Date.today.year-16 %>
  </div>

  <div class="field">
    Region: <%= f.select(:region, Donor::Region_List) %>
  </div>

  <div class="field">
     Blood:  <%= f.select(:blood_type, Donor::Blood_List) %>
  </div>

  <div class="field">
     <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
 
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email Address" %>
  </div>
  
  <div class="field">
    <%= f.input :password, :as => :pwdcalc %>
  </div>
  
  <div class="field">
    <%= f.input :password_confirmation, :as => :pwdcalc %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<% end %>
</div>