<h1>Available Donors</h1>

<ul>
  <% @grouped.keys.sort.each do |letter| -%>
    </br>
    </br>
    <li>
      <h1><%= letter %></h1>
      <ul>
      </br>  
      <table>
        <tr>
		      <th>Photo</th>
          <th>Full Name</th>
          <th>Region</th>
        </tr>
          <% @grouped[letter].each do |donor| -%>
            <tr>
			        <td> <%= image_tag donor.photo_url %></td>
              <td><%= donor.proper_name %></td>
              <td><%= donor.region %></td>
              <% if can? :show, donor %>
                <td><%= link_to 'Show', donor %></td>
              <% end %>  
              <% if can? :update, donor %>
                <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
              <% end %>
              <% if can? :destroy, donor %>
                <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>  
            </tr>
          <% end %>
        </table>   
      </ul>
    </li>  
  <% end %>
</ul>
<br />
 