<h1>Available Donors</h1>

<ul>
  <% @grouped.keys.sort.each do |letter| -%>
    </br>
    </br>
    <li>
      <h4><%= letter %></h4>
      <ul>
      </br>  
      <table class="table table-bordered">
        <tr>
		      <th><h3>Photo</h3></th>
          <th><h3>Full Name</h3></th>
          <th><h3>Region<h3></th>
        </tr>
          <% @grouped[letter].each do |donor| -%>
            <tr>

			        <td class="donor_img"> <%= image_tag donor.photo_url %></td>
              <td><h3><%= donor.proper_name %></h3></td>
              <td><h3><%= donor.region %></h3></td>
              <% if can? :show, donor %>
                <td><h3><%= link_to 'Show', donor %></h3></td>
              <% end %>  
              <% if can? :update, donor %>
                <td><h3><%= link_to 'Edit', edit_donor_path(donor) %></h3></td>
              <% end %>
              <% if can? :destroy, donor %>
                <td><h3><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></h3></td>
              <% end %>  
            </tr>
          <% end %>
        </table>   
      </ul>
    </li>  
  <% end %>
</ul>
<br />
 