
<p>
  <% unless @donor.photo_url.nil? %>
      <p id='donor_img'><%= image_tag @donor.photo_url %></p>
  <% end %>
</p>
</br>
<p>
  <b>Name:</b>
  <%= @donor.proper_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @donor.date_of_birth %>
</p>

<p>
 <b>Age:</b>
  <%= @donor.age %>
</p>

<p>
  <b>Phone:</b>
  <%= @donor.phone %>
</p>

<p>
  <b>Region:</b>
  <%= @donor.region %>
</p>

<p>
  <b>Blood type:</b>
  <%= @donor.blood_type %>
</p>

<p>
  <b>Authenticated:</b>
  <%= @donor.authenticated %>
</p>
 
<% unless @donor.admin == false %>
<p>
  <b>Admin:</b>
  <%= @donor.admin %>
</p>
<% end %> 
</br>
<p>
  <b>Email:
  <%= h auto_link(simple_format(@donor.email)) %>
   </b>
</p>

<%= link_to 'Back', root_path, class:"btn btn-large btn-primary" %>
<% if can? :destroy, @donor %>   
  <%= link_to 'Deactivate Profile', @donor, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-large btn-primary" %>
<% end %>  


