<p id="notice"><%= notice %></p>

<p>
  <% unless @donor.photo_url.nil? %>
      <p><%= image_tag @donor.photo_url %></p>
  <% end %>
</p>
<p>
  <b>Name:</b>
  <%= @donor.proper_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @donor.phone %>
</p>

<p>
  <b>Region:</b>
  <%= @donor.region %>
</p>

<p>
  <b>Active:</b>
  <%= @donor.active %>
</p>

<p>
  <b>Blood type:</b>
  <%= @donor.blood_type %>
</p>

<p>
  <b>Donor:</b>
  <%= @donor.donor %>
</p>

<p>
  <b>Social network:</b>
  <%= @donor.social_network %>
</p>

<p>
  <b>Email:</b>
  <%= @donor.email %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', root_path %>
