<div class="outer">
 
 <% if current_donor && current_donor.admin == true %>
<h1>System Admin</h1>
<% if Request.last_24hours == []%>
 <%= "No Requests are available" %>
<% else %>
	<h4>Blood Donation Requests</h4>
	<%Request.last_24hours.each do |r|%>
	<%=r.content%></br>
	<%end%>
<%end%>

 <%elsif current_donor && current_donor.admin == false %> 
 <h1> <%=current_donor.proper_name%> | Active Blood Donor </h1>
</br>
<% if Request.last_24hours == []%>
 <%= "No Requests are available" %>
<% else %>
	<h4>Blood Donation Requests</h4>
	<%Request.last_24hours.each do |r|%>
 	<%=r.content%></br>
	<%end%>
<%end%>

 <% elsif current_medic && current_medic.admin == true %>
 <h1><%=current_medic.organization.name%> Admin | Authorized LifeSpan+ Medic </h1>
 <% elsif current_medic && current_medic.admin == false %>
 <h1> Dr. <%=current_medic.proper_name%> | Lets save lives...</h1>
  <% else %>
<div class="center hero-unit">

<h1>LifeSpan+</h1>
  <%= image_tag("female.jpg", :alt => "rss feed") %>
<p>

	96% of us rely on the other 4% to give blood. Please don’t leave it to someone else!
	
</p>
 <%=link_to "Donate Now!", login_path, class:"btn btn-large btn-primary" %>
</div>
   <% end %>





 
 
