<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name: <%= f.text_field :name %>
  </div>
  <div class="field">
    Region: <%= f.select(:region, Organization::Region_List) %>
  <div class="actions">
  <div class="field">
	Phone: <%= f.text_field :phone %>
  </div>
    <%= f.submit %>
  </div>
<% end %>
