<h1>Available Hospitals</h1>

<table>
  <tr>
	<th>Photo</th>
    <th>Name</th>
    <th>Region</th>
    <th>Admin</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
	<td id='donor_img'> <%= image_tag organization.photo_url %></td>
    <td><%= organization.name %></td>
    <td><%= organization.region %></td>
    <% @admins.each do |admin| %>
      <% if admin.organization_id == organization.id %>
        <% if  admin.first_name.blank? == false || admin.last_name.blank? == false %>
          <td><%= admin.proper_name %></td>
        <% else %>
          <td><%= admin.email %></td>
        <% end %>  
      <% end %>
    <% end %>
    
    <% if can? :show, organization %>
      <td><%= link_to 'Show', organization %></td>
    <% end %>

    <% if can? :update, organization %>
      <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <% end %>

    <% if can? :destroy, organization %>
      <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  

  </tr>
<% end %>
</table>

<br />

<% if can? :create, @organization %>
  <%= link_to 'Register Organization', new_organization_path %>
<% end %>
