
<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Region:</b>
  <%= @organization.region %>
</p>
<p>
  <b>Phone:</b>
  <%= @organization.phone %>
</p>
</br>
</br>
</br>
<p>
  <b>Website:
  <%= h auto_link(simple_format(@organization.website)) %>
  </b>
</p>
</br>
<p>
  <b>Email:
  <%= h auto_link(simple_format(@organization.email)) %>
  </b>
</p>






<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
