<body>
<p>
  <% unless @organization.photo_url.nil? %>
      <p id='donor_img'><%= image_tag @organization.photo_url %></p>
  <% end %>
</p>
<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Region:</b>
  <%= @organization.region %>
</p>
<p>
  <b>Phone:</b>
  <%= @organization.phone %>
</p>
</br>
</br>
</br>
<p>
  <b>Website:
  <%= h auto_link(simple_format(@organization.website)) %>
  </b>
</p>
</br>
<p>
  <b>Email:
  <%= h auto_link(simple_format(@organization.email)) %>
  </b>
</p>





<% if can? :update, @organization %>
  <%= link_to 'Edit Hospital', edit_organization_path(@organization),  class:"btn btn-large btn-primary"%> 
<% end %>
<br><br>
<% if can? :destroy, @organization %>
    <%= link_to 'Delete Hospital', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-large btn-primary" %>
<% end %>
<br><br>
<%= link_to 'Back', organizations_path,  class:"btn btn-large btn-primary" %>

</body>