<p>Dear Donor,</p>

<p><%= @blood_needed%> is needed at <%= @medic_org%>, which is in <%= @medic_region%><br>
	if you cannot donate blood, share this message and save someone's life</p>


<p>Sent by:<br>
<%= @medic_name%><br>
working in <%= @medic_org%></p>

<h5>For further information or to share the blood request with your Twitter and Facebook friends, please visit this link:<br> http://lifespan-plus.herokuapp.com/</h5>