<!DOCTYPE html>
<html>
<head>
   <title><%= full_title %></title>
  <%= stylesheet_link_tag   :all, "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
</div>

<div id="logo">
<img src="http://s4.postimage.org/smo2yn9t9/logo1.png" alt="logo" width="260" height="140" >


<div id="header">
    </header> 
</div>

	<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <nav>





            <ul class="nav pull-right">
       <h5>     <a href="/home">Home</a></h5>
              <% if current_donor && current_donor.donor == false %>
                 
                <%= link_to "Donor List", donors_path, class: "btn btn-large btn-primary" %> 
                <%= link_to "Register Hospital", register_path, class: "btn btn-large btn-primary" %>
                <%= link_to "Register Hospital Admin", join_path, class: "btn btn-large btn-primary" %>

                 <%= link_to "Available Hospitals", organizations_path, class: "btn btn-large btn-primary" %>
                  <%= link_to "Donate Now!", '#', class: "btn btn-large btn-primary" %>
              
              <%= link_to "Log out", logout_path, class: "btn btn-large btn-primary" %> 




              
              <% elsif current_donor && current_donor.donor == true %>      

              <%= link_to "Available Hospitals", organizations_path, class: "btn btn-large btn-primary" %>
              <%= link_to "Donate Now!", '#', class: "btn btn-large btn-primary" %>
              
              <%= link_to "Log out", logout_path, class: "btn btn-large btn-primary" %> 
              
        <% elsif current_medic && current_medic.staff == false %>
              <%= link_to "Doctor List", medics_path, class: "btn btn-large btn-primary" %> 
              <%= link_to "Register Hospital Staff", join_path, class: "btn btn-large btn-primary" %>

               <%= link_to "Send Blood Request!", '#', class: "btn btn-large btn-primary" %> 
          <%= link_to "Log out", signout_path, class: "btn btn-large btn-primary" %>

        <% elsif current_medic && current_medic.staff == true %>             
        
          <%= link_to "Send Blood Request!",'#', class: "btn btn-large btn-primary" %> 

          <%= link_to "Log out", signout_path, class: "btn btn-large btn-primary" %>
        
        <% else %>
          <%= link_to "Donate Now!", login_path, class: "btn btn-large btn-primary" %>
           <%= link_to "Send Blood Request!", signin_path, class: "btn btn-large btn-primary" %> 

        <% end %> 
	 		</ul>  
          </nav>
        </div>
      </div>
    </header> 

<%= yield %>

</body>
</html>
