<!DOCTYPE html>
<html>
<head>
    <title><%= full_title %></title>
    <%= stylesheet_link_tag   :all, "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

  
    <div class="outer">
      <!-- Header starts -->
      <header>
        <div class="container">
          <div class="row">
            <div class="span4">
                <div class="logo">
                  <!-- If you are using image for logo, then replace the below two lines with image tag. Recommended size of logo image is less than 270x110 -->
                  <img src="http://s8.postimg.org/dupit741x/logo.jpg" alt="LifeSpan+" />
                </div>
            </div>
            <% if current_page?(root_path) %>
             
                   <div class="span4 offset4">
                    <div class="social">
                        <a href="https://www.facebook.com/pages/LifeSpan/425536624196631?ref=ts&fref=ts"><img src="http://s23.postimg.org/fetimunuj/images_2.jpg" class='icon-facebook'> </a>
                        
                        <a href="https://twitter.com/DonationLife"><img src="http://s16.postimg.org/6s7qquaw5/images_1.jpg" class='icon-facebook'> </a>
                    </div>
                </div>
                   
            <% end %>    
            </div>
        </div>
      </header>

    <!-- Header ends -->
 

    <p class= "flash-error"><%= flash[:alert] %></p>
    <p class= "flash-notice"><%= flash[:notice] %></p> 
    <div id="logo">
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <nav>
                    <ul class="nav pull-right">
                        <h5>     <a href="/home">Home</a>
                        </h5>
                        <%= render 'layouts/header'%>  
                    </ul>  
                </nav>
            </div>
        </header>
    </div> 
    <%= yield %>
    <%= render 'layouts/footer'%>
</body>
</html>
